<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Gestionnaire de bibliothèque</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
</head>
<body>
    <!--Main Navigation-->
<header>
  <style>
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 100vh;
    }

    .carousel-item:nth-child(1) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    .carousel-item:nth-child(2) {
      background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    @media (min-width: 992px) {
      #introCarousel {
        margin-top: -58.59px;
      }
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 50vh;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link"  href="/livres">
        <strong>Gestionnaire en ligne</strong>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
              aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/livres" rel="nofollow"
               target="">Livres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category" target="">Catégorie</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="" rel="nofollow"
               >
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.facebook.com/" rel="nofollow" >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://twitter.com/" rel="nofollow" >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://github.com/" rel="nofollow" >
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Carousel -->
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-carousel-init>
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">Bienvenue dans votre categorie</h1>
              <a class="btn btn-outline-light btn-lg m-2" href="/category/new">Ajouter categorie</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">

    <!-- Search field -->
    <div class="form-outline mb-4">
        <input type="text" class="form-control" id="datatable-search-input" />
        <label class="form-label" for="datatable-search-input">Search</label>
    </div>

    <!-- Table -->
    <table id="datatable" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Nb livres</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1"><%= category.name %></p>
                            </div>
                        </div>
                    </td>
                    <td><p class="text-muted mb-0"><%= category.description %></p></td>
                    <td><span class="badge badge-success rounded-pill d-inline"><%= category.bookCount %></span></td>
                    <td>
                        <a href="/category/<%= category._id %>/edit" class="btn btn-link btn-sm btn-rounded">Edit</a>
                        <a href="/category/<%= category._id %>" class="btn btn-link btn-sm btn-rounded">Details</a>
                        <button type="button" class="btn btn-danger btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#deleteModal<%= category._id %>">Delete</button>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal<%= category._id %>" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr de vouloir supprimer ce category ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a href="/category/<%= category._id %>/delete" class="btn btn-danger btn-sm btn-rounded">SUPP.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Gestionnaire de bibliothèque. Tous droits réservés.
    <a class="text-dark" href="index.html">Ahamadou</a>
  </div>
</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function () {
    $('#datatable').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        info: true,
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/French.json'
        }
    });
});
</script>
</body>
</html>
